body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
}
.background-blur {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 80vw;
    background-image: linear-gradient(90deg, #CF77F3 0%, #009BFF 47%, #2AC9DB 100%);
    border-radius: 100px;
    filter: blur(10vw);    
}
.main_content {
    max-width: 1100px;
    min-height: calc(100% - 40px);
    padding: 20px;
    margin: auto;
    background-color: #fff;
    
    display: flex;
    flex-direction: column;
}
/* === Header & Footer === */
header {
    border-bottom: 2px solid #000;
}
header h1 {
    margin: 2vh 0 1vh 0;
}
header a {
    color:#000000;
    text-decoration: none;
    font-style: italic;
}
header a:hover {
    text-decoration: underline;
}
h1, h2, h3 {
    font-family: 'Chivo Mono', monospace;
    color:#000000;
}
h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}
footer{
    margin-top: auto;
    padding-bottom: 40px;
    border-top: 2px solid #000;
}
.footer-link {
    margin-top: 16px;
}
.footer-link a {
    text-decoration: none;
    font-style: italic;
}
.footer-link a:hover {
    text-decoration: underline;
}

/* === Cards === */
.team-member-cards {
    margin-top: 10px;
    margin-bottom: 100px;
}
.member-card-wrapper {
    border-radius: 30px;
    overflow: hidden;
    background-color: #dddddd;
    margin-top: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto min-content;
}
.member-card {
    background: #6DD5FA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6DD5FA, #efe6fc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #6DD5FA, #efe6fc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.3);
    border-radius: 30px;
    padding: 15px;
    display: grid;
    column-gap: 15px;
    row-gap: 8px;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
}
.member-card img {
    width: 140px;
    border-radius: 30px;
    min-height: 160px;
    height: 100%;
    object-fit: cover;
    background-color: #D2D2D2;
    grid-column: 1;
    grid-row: 1 / span 2;
}
.title {
    grid-column: 2;
    grid-row: 1;
}
.text {
    grid-column: 2;
    grid-row: 2;
}

/* === Card-Links === */
.links {
    display: inline-flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 15px;
}
.links.link-big {
    padding: 15px;
}
.links.mobile {
    display: none;
}
.links a {
    display: inline-flex;
    flex-direction: column;
}
.links a i {
    width: 2rem;
}
.links a:hover > i {
    color:#464646;
}
a, a:visited > i {
    color:#000;
    text-decoration: none;
}

/* === === */
@media (max-width: 600px) {
    .member-card {
        row-gap: 15px;
        grid-template-columns: min-content auto;
    }
    .member-card img {
        grid-column: 1;
        grid-row: 1 / span 2;
    }
    .title {
        grid-column: 2;
        grid-row: 1;
    }
    .text {
        grid-column: 1 / span 2;
        grid-row: 3;
    }
    .links {
        flex-direction: row;
        margin: auto 0 ;
        grid-column: 2;
        grid-row: 2;
    }
    .links.mobile {
        display: block;
    }
    .links.link-big {
        display: none;
    }
}