body {
    background: #200122; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #200122, #6f0000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #200122, #6f0000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

header {
    margin:auto;
    max-width:60vw;
}

header h1 {
    margin: 2vh 0 1vh 0;
}

header a {
    color:#FFF;
    text-decoration: none;
    font-style: italic;
}

header a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: 'Chivo Mono', monospace;
    color:#FFF;
}

hr {
    color:#FFF;
    border: 0.3vh solid;
    border-radius: 3px;
}

h2 {
    margin: 0;
}

p {
    margin: 0 0 0 0;
    font-size: 1rem;
}

#contentContainer {
    max-width:60vw;
    margin: auto;
}

.groupTitle {
    max-width: 150px;
}


#groupPart > .memberCard > .groupTitle {
    display: flex;
    flex-direction: column;
}

#groupPart > .memberCard > .groupTitle > #groupSymbol > svg {
    color:#FFF;
    width:100%;
    height: 100%;
}


#groupPart > .memberCard > .cardText > p {
    margin: 0;
}

#groupPart > .memberCard > .cardText > br {
    height:2vh;
}

.memberCard {
    background-color: #a30f2d;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1vw;

    display: grid;
    grid-template-columns: max-content auto;

    /* size card to fit */
    max-width: 100%;
    max-height: 100%;
}

.cardText {
    color: white;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    margin-left: 2vw;
    margin-right: 1vw;
    margin-bottom: 10px;

    word-wrap: normal;
    max-width: 100%;

}

.cardText > hr {
    border: 0.1vh solid #FFF;
}

.memberCard img {
    width: 150px;
    height: 150px;
    border-radius: 3px;
    /* size image to fit */
    /*object-fit: scale-down;*/
    object-fit: cover;
    background-color: white;
}

.link-container {
    display:flex;
    justify-content: center;
}

.link-container > .brand {
    transition: all 0.4s ease-in-out;
}

.link-container > .brand:hover {
    transform: scale(1.5);
}

.link-container > .brand > p {
    margin: auto;
}

.link-container > .brand > p > a, a:visited {
    color:#FFF;
    font-size:1.5rem;
    margin: 0 0.3vw 0 0.3vw;
    transition: all 0.2s ease-in-out;
}

.link-container > .brand > p > a:hover {
    color:#000;
}

footer {
    display:flex;
    justify-content: center;
    padding: 0 0 2vh 0;
}

footer > .footer-link > a {
    text-decoration: none;
    font-style: italic;
}

footer > .footer-link > a:hover {
    text-decoration: underline;
}

.imgWrapper {
    
}

@media (max-width: 768px) {
    #contentContainer {
        max-width:90vw;
        margin: 0 auto;
    }
    
    header {
        max-width:90vw;
    }
    
    .memberCard {
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #groupPart > .memberCard > .groupTitle {
        max-width: 100%;
    }
    
    #groupSymbol, #groupTitleText {
        margin: 0 auto;
    }
    
    .groupTitle > #groupSymbol > svg {
        max-width:10vw;
    }
    
    .memberCard img {
        width: 60%;
        height: auto;
        aspect-ratio: 1 / 1;
    }
    
    .imgWrapper {
        display: flex;
        justify-content: center;
    }
    
    .link-container {
        margin: 0 auto;
        width: 60%;
        justify-content: center;
        padding:2vh 0 2vh 0;
    }
    
    .link-container > .brand > p > a, a:visited {
        font-size: 2rem;
        margin: 0 2vw 0 2vw;
    }
}