body {
    background-color: #fff;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
}
.background-blur {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 80vw;
    background-image: linear-gradient(90deg, #CF77F3 0%, #009BFF 47%, #2AC9DB 100%);
    border-radius: 100px;
    filter: blur(10vw);    
}
.main_content {
    max-width: 1100px;
    min-height: calc(100% - 40px);
    padding: 20px;
    margin: auto;
    background-color: #fff;
    
    display: flex;
    flex-direction: column;
}
/* === Header & Footer === */
header {
    border-bottom: 2px solid #000;
}
header h1 {
    margin: 2vh 0 1vh 0;
}
header a {
    color:#000000;
    text-decoration: none;
    font-style: italic;
}
header a:hover {
    text-decoration: underline;
}
h1, h2, h3 {
    font-family: 'Chivo Mono', monospace;
    color:#000000;
}
h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}
footer{
    margin-top: auto;
    padding-bottom: 40px;
    border-top: 2px solid #000;
}

/* === Cards === */
.team-member-cards {
    margin-top: 10px;
    margin-bottom: 100px;
}
.member-card-wrapper {
    border-radius: 30px;
    background-color: #dddddd;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto min-content;
}
.member-card {
    background: #6DD5FA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6DD5FA, #efe6fc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #6DD5FA, #efe6fc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 30px;
    padding: 15px;
    display: grid;
    gap: 15px;
    grid-template-columns: max-content auto;
}
.member-card img {
    width: 140px;
    border-radius: 30px;
    height: 160px;
    /* height: 100%; */
    object-fit: cover;
    background-color: #D2D2D2;
}
.card-info .title .rolle{
    display: inline;
}

/* === Card-Links === */
.links {
    font-size: 2rem;
    padding: 15px;
}
.links a {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.links a i {
    width: 2rem;
}
.links a:hover > i {
    color:#464646;
}
a, a:visited > i {
    color:#000;
    text-decoration: none;
}
