/*
    Standard HTML changes
*/
body {
    color:#FFF;
    overflow-y: scroll;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Rubik Mono One', monospace;
}





/*
    Bootstrap changes
*/
/* Navbar */
.navbar > a {
    font-family: 'Rubik Mono One', monospace;
    font-size: 1.3rem;
}

.navbar > a:hover {
    color:#aaa;
    transition: 0.5s;
}

.active {
    border-bottom: #FFF 2px solid;
}

.navbar > .active:hover {
    border-bottom: #aaa 2px solid;
}

/* Other */
.accordion-item, .accordion-button  {
    border-radius: 0 !important;
    border: 0 !important
}





/*
    Custom CSS
*/
/* Brand logos on profile */
.brand {
    transition: all 0.4s ease-in-out;
}

.brand:hover {
    transform: scale(1.5);
}

.brand > p {
    margin: auto;
}

.brand > p > a, a:visited {
    color:#FFF;
    font-size:1.5rem;
    margin: 0 0.3vw 0 0.3vw;
    transition: all 0.2s ease-in-out;
}

/* Other */
.brand > p > a:hover {
    color:#aaa;
}

.smalltext {
    font-size: 0.7rem;
}

.rounded-edges {
    border-radius: 5px;
}

.monofont {
    font-family: 'Rubik Mono One', monospace;
}





/*
    Glenn things
*/
#glenn_img {
    position: relative;
    z-index: 1;
}
#DuckContainer {
    position: relative;
}
img#DuckImg {
    position: absolute;
    image-rendering: pixelated;
    left: 25px;
    top: -100px;
    width: 80px;
    transition: transform ease-out .3s .5s;
}
#egg-box:hover > #DuckContainer img#DuckImg {
    transform: translate(75%,10%) rotate(70deg);
    transition-delay: 2s;
}