/*
    Global Variables
*/
:root {
    /* Custom Variables*/
    --font-header: 'Rubik Mono One', monospace;
    --font-text: 'Rubik', sans-serif;
    --font-text-weight: 300;
    --navbar-border-bottom: #FFF 2px solid;
    --text-color: #FFF;
    --link-color: #FFF;
    --link-color-hover: #AAA;

    /* Override Bootstrap Variables */
    /*--bs-border-radius: 1.375rem; <-- Remove comment & use --bs-border-radius to change radius of all things rounded, both bootstrap and our own */
}





/*
    Standard HTML tag changes
*/
body {
    color:var(--text-color);
    overflow-y: scroll;
    font-family: var(--font-text);
    font-weight: var(--font-text-weight);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--font-header);
}





/*
    Bootstrap changes
*/
/* Navbar */
.navbar > a {
    font-family: var(--font-header);
    font-size: 1.3rem;
}

.navbar > a:hover {
    color:var(--link-color-hover);
    transition: 0.5s;
}

.active {
    border-bottom: var(--navbar-border-bottom);
}

.navbar > .active:hover {
    border-bottom: var(--navbar-border-bottom);
}

/* Other */
.accordion-item, .accordion-button  {
    border-radius: 0 !important;
    border: 0 !important
}





/*
    Custom CSS
*/
/* Brand logos on profile */
.brand {
    transition: all 0.4s ease-in-out;
}

.brand:hover {
    transform: scale(1.5);
}

.brand > p {
    margin: auto;
}

.brand > p > a, a:visited {
    color: var(--link-color);
    font-size:1.5rem;
    margin: 0 0.3vw 0 0.3vw;
    transition: all 0.2s ease-in-out;
}

.brand > p > a:hover {
    color: var(--link-color-hover);
}

/* Other */
.smalltext {
    font-size: 0.7rem;
}

.rounded-edges {
    border-radius: var(--bs-border-radius);
}

.monofont {
    font-family: var(--font-header);
}





/*
    Glenn things
*/
#glenn_img {
    position: relative;
    z-index: 1;
}
#DuckContainer {
    position: relative;
}
img#DuckImg {
    position: absolute;
    image-rendering: pixelated;
    left: 25px;
    top: -100px;
    width: 80px;
    transition: transform ease-out .3s .5s;
}
#egg-box:hover > #DuckContainer img#DuckImg {
    transform: translate(75%,10%) rotate(70deg);
    transition-delay: 2s;
}